@model IEnumerable<UniFilteringproject.Models.MalAbi>

@{
    ViewData["Title"] = "Index";
}

<h1>Abilities of Malshabs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.malshab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbiLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.malshab.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ability.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbiLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
